:root {
    --clr-accent-500: #E14D2A;
    --clr-accent-400: #E87355;
    --clr-accent-300: #F1DBBF;

    --clr-neutral-400: #272626;
    --clr-neutral-300: #7c7b7b;
    --clr-neutral-200: #8F8F8F;
    --clr-neutral-100: #FFF;

    --ff-brand-name: 'Mochiy Pop One', sans-serif;
    --ff-body: 'Montserrat', sans-serif;

    --fw-regular: 300;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    font-family: var(--ff-body);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-body);
    font-weight: var(--fw-bold);
}

p {
    font-size: 1.125rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-300);
}

#title {
    background-color: var(--clr-accent-500);
    color: var(--clr-accent-300);
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Navbar Section */
.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-family: var(--ff-brand-name);
    font-size: 1.75rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1.25rem;
}

/* Hero Section */

#title .container-fluid {
    padding: 3% 15%;
}

.title__box {
    text-align: left;
}

.title__heading {
    font-weight: var(--fw-black);
    font-size: 3.5rem;
    line-height: 1.5;
    text-shadow: 2px 4px rgba(155, 46, 18, 0.45);
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.title__image {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width: 1150px) {
    .title__box {
        text-align: center;
        flex-basis: 100%;
    }
    .title__image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        margin-top: 1.5rem;
    }
    .title__image > img {
        width: 320px;
    }
}

@media (max-width: 991px) {
    .title__box {
        text-align: center;
    }
    .title__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }
}

@media (max-width: 430px) {
    .title__heading {
        font-size: 2.5rem;
    }
}

/* Download Buttons */

.btn--download {
    margin: 5% 3% 5% 0;
}

/* Features Section */

#features {
    background-color: var(--clr-neutral-100);
}

.container--features {
    margin-top: 1.875rem;
}

.features__item {
    padding: 10% 3%;
}

.features__title {
    font-size: 1.5rem;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.features__icon {
    margin-bottom: 1rem;
    color: var(--clr-accent-400);
}

.features__icon:hover {
    color: var(--clr-accent-500);
}

/* Testimonials Section */

#testimonials {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
}

.testimonials__text {
    font-size: 3rem;
    line-height: 1.5;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.testimonials__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin: 1.25rem;
}

@media (max-width: 430px) {
    .testimonials__text {
        font-size: 1.5rem;
    }
}

/* Press Section */

#press {
    background-color: var(--clr-accent-400);
    padding-bottom: 3%;
}

.press__logo {
    width: 10%;
    margin: 1.25rem 1.25rem 3.125rem;
}

@media (max-width: 1150px) {
    .press__logo {
        width: 100px;
    }
}

/* Pricing Section */

.pricing__header {
    font-weight: var(--fw-black);
    font-size: 3rem;
    line-height: 1.5;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.pricing__title {
    font-size: 1.5rem;
}

.pricing__text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing__package-card-grid {
    margin-top: 3.5rem;
}

@media (max-width: 430px) {
    .pricing__header {
        font-size: 2.5rem;
    }
}

/* CTA */

#cta {
    background-color: var(--clr-accent-500);
    color: var(--clr-neutral-100);
}

.cta__heading {
    font-family: var(--ff-body);
    font-weight: var(--fw-black);
    font-size: 3.5rem;
    line-height: 1.5;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.cta__download-button {
    margin: 5% 3% 5% 0;
}

@media (max-width: 430px) {
    .cta__heading {
        font-size: 1.5rem;
    }
}

/* Footer */

#footer {
    background-color: var(--clr-neutral-100);
}

#footer .container-fluid {
    padding: 6% 15% 3%;
}

.footer__social-icons {
    display: flex;
    justify-content: center;
}

.footer__icons {
    text-decoration: none;
    color: var(--clr-accent-500);
    margin: 0rem 1.5rem 3rem;
}

.footer__icons:hover {
    color: var(--clr-accent-400);
}

.footer__author a{
    color: var(--clr-accent-500);
}

.footer__author a:hover{
    color: var(--clr-accent-400);
}

.footer__header {
    font-size: 1.5rem;
    text-align: left;
}

.footer__links {
    list-style: none;
}

.nav-item{
    text-align: left;
    padding: 0;
}

.footer__links .nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--clr-neutral-400);
}

@media (max-width: 767px) {
    .footer__header {
        text-align: center;
    }
    
    .nav-item{
        text-align: center;
    }
    .footer__social-icons {
        margin-top: 1rem;
    }
}